
@media all {
    .page-break {
      display: none;
    }
  }
  
  @media print {
  
    @page {
    margin: 0rem;
    width: auto;
  }

  html, body {
    height: auto !important;
    overflow: hidden !important;
  }


    .waryaa button{
      display: none;
    }
   
  }
  
  
  