
@media all {
    .page-break {
      display: none;
    }
  }
  
  @media print {
  
    @page {
    margin: 1rem;
    width: 200mm;
  }

  html, body {
    height: initial !important;
    overflow: initial !important;
  }


    .waryaa button{
      display: none;
    }
   
  }
  
  
  